body {
  font-size: 0.875rem;
  font-weight: normal;
  color: #3d3d3d;
  font-family: 'NanumSquare',sans-serif;
  height: 20000vh;
}

body h1 {
  font-size: 1.5rem;
  font-weight: bold;
}

body h2 {
  font-size: 7.5rem;
  font-weight: bold;
}

body h3 {
  font-size: 5rem;
}

body h4 {
  font-size: 3.75rem;
}

body h5 {
  font-size: 2.5rem;
}

body h6 {
  font-size: 1.875rem;
}

body p {
  font-size: 1.25rem;
}

body .inner {
  width: 1280px;
  min-width: 1024px;
  margin: 0 auto;
}

body .sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

header {
  border-bottom: 1px solid #ccc;
  position: fixed;
  width: 100vw;
  height: 50px;
  z-index: 10;
  background: #fff;
}

header #nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  line-height: 50px;
}

header #nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 200px;
}

header #nav ul li:last-child {
  line-height: 1em;
  padding: 0.15em 0.5em;
  background: #0057EE;
  color: #fff;
  border-radius: 20px;
}

#visual .visual_content {
  background: #eee;
  padding-top: 50px;
}

#visual .visual_content .visual_content_main {
  height: 200vh;
}

#visual .visual_content .visual_content_main .visual_content_slide img {
  width: 100vw;
  height: 100vh;
}

#visual .visual_content .visual_content_text {
  text-align: center;
  margin-top: 50px;
  height: 80vh;
}

#visual .visual_content .visual_content_text .visual_content_text_main {
  -webkit-transition: 1s;
  transition: 1s;
  margin-bottom: 1em;
  opacity: 0;
  color: #000;
}

#visual .visual_content .visual_content_text .visual_content_text_sub {
  -webkit-transition: 1s;
  transition: 1s;
  opacity: 0;
}

#visual .visual_content .visual_content_text .visual_content_text_sub h5 {
  margin-bottom: 1em;
}

#visual .visual_content .visual_content_text .visual_content_text_sub p {
  font-weight: bold;
  margin-top: 1em;
  -webkit-transition: 1s;
  transition: 1s;
  opacity: 0;
}

#visual .visual_content .visual_content_text .visual_content_text_sub p img {
  margin-right: 0.5em;
  width: 24px;
  height: 24px;
}

#perfomance .perfomance_container {
  height: 300vh;
  position: relative;
}

#perfomance .perfomance_container .perfomance_content {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

#perfomance .perfomance_container .perfomance_content .perfomance_content_main {
  width: 100vw;
  height: 100vh;
  position: absolute;
}

#perfomance .perfomance_container .perfomance_content .perfomance_content_main .perfomance_content_video {
  width: 100vw;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
}

#perfomance .perfomance_container .perfomance_content .perfomance_content_text {
  position: absolute;
  top: 300px;
  right: 30%;
  font-size: 1.25rem;
  font-weight: bold;
}

#perfomance .perfomance_container .perfomance_content .perfomance_content_text li {
  margin-bottom: 2em;
  -webkit-transition: 1s;
  transition: 1s;
  -webkit-transform: translateY(0);
          transform: translateY(0);
  opacity: 0;
}

#perfomance .perfomance_container .perfomance_content .perfomance_content_text strong {
  font-size: 2.5rem;
  font-weight: bold;
  display: block;
  color: #0057EE;
}

#perfomance .perfomance_container .perfomance_content .perfomance_content_bottom {
  position: absolute;
  top: 850px;
  left: 23%;
  opacity: 0;
  -webkit-transition: 1s;
  transition: 1s;
  width: 47%;
}

#perfomance .perfomance_container .perfomance_content .perfomance_content_bottom p {
  font-size: 1.25rem;
  color: #aaa;
  text-align: left;
  line-height: 30px;
}

#perfomance .perfomance_container .perfomance_content .perfomance_content_bottom p b {
  font-size: 1.875rem;
  font-weight: bold;
  color: #3d3d3d;
  display: block;
  margin-bottom: 0.66667em;
}

#perfomance .perfomance_container .perfomance_content .perfomance_content_bottom p:nth-of-type(2) {
  margin-top: 1.5em;
  font-weight: bold;
  color: #0057EE;
  text-align: center;
}

@-webkit-keyframes move_up {
  from {
    -webkit-transform: translateY(10%);
            transform: translateY(10%);
    opacity: 0;
  }
  to {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

@keyframes move_up {
  from {
    -webkit-transform: translateY(10%);
            transform: translateY(10%);
    opacity: 0;
  }
  to {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

#charging .charging_content {
  height: 120vh;
  position: relative;
}

#charging .charging_content .charging_content_main {
  height: 100vh;
  background: black;
  color: #fff;
}

#charging .charging_content .charging_content_text {
  position: absolute;
  top: 50%;
  left: 50%;
  font-weight: bold;
  text-align: center;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 3;
}

#charging .charging_content .charging_content_text.on h5 {
  -webkit-animation: move_up 0.5s 1s ease-in forwards;
          animation: move_up 0.5s 1s ease-in forwards;
}

#charging .charging_content .charging_content_text.on p {
  -webkit-animation: move_up 1s 1.5s ease-in forwards;
          animation: move_up 1s 1.5s ease-in forwards;
}

#charging .charging_content .charging_content_text h5 {
  opacity: 0;
  -webkit-transform: translateY(10%);
          transform: translateY(10%);
}

#charging .charging_content .charging_content_text p {
  opacity: 0;
  -webkit-transform: translateY(10%);
          transform: translateY(10%);
  font-size: 2.5rem;
  margin-top: 1em;
  line-height: 1em;
}

#charging .charging_content .charging_content_text p span {
  color: #09D5FF;
  font-size: 5rem;
}

#v2l .v2l_container {
  width: 100vw;
  height: 620vh;
}

#v2l .v2l_container .v2l_content_main {
  position: relative;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  width: 1vw;
  height: 100vh;
  background: #000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#v2l .v2l_container .v2l_content_main figure {
  position: absolute;
  width: 338px;
  height: 360px;
  display: none;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

#v2l .v2l_container .v2l_content_main figure img {
  width: 100%;
  height: 100%;
}

#v2l .v2l_container .v2l_content_main figure.v2l_first {
  left: 10%;
  top: 100px;
}

#v2l .v2l_container .v2l_content_main figure.v2l_second {
  top: 500px;
  left: 30%;
}

#v2l .v2l_container .v2l_content_main figure.v2l_third {
  left: 50%;
  top: 100px;
}

#v2l .v2l_container .v2l_content_main figure.v2l_fourth {
  left: 70%;
  top: 500px;
}

#v2l .v2l_container .v2l_content_main figure.v2l_text {
  display: none;
  font-size: 7.5rem;
  font-weight: bold;
  color: #fff;
  width: auto;
  height: auto;
  text-align: center;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

#v2l .v2l_container .v2l_content_main .v2l_main_video {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  -webkit-transform: translate(-50%, -50%) scale(0);
          transform: translate(-50%, -50%) scale(0);
  -webkit-transition: 1s;
  transition: 1s;
}

#v2l .v2l_container .v2l_content_main .v2l_main_video video {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

#v2l .v2l_container .v2l_content_main .v2l_content_text_box {
  position: absolute;
  width: 100%;
  height: 200%;
  background: rgba(0, 0, 0, 0.6);
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-transition: 1s;
  transition: 1s;
}

#v2l .v2l_container .v2l_content_main .v2l_content_text_box .blank {
  height: 100%;
}

#v2l .v2l_container .v2l_content_main .v2l_content_text_box .v2l_content_text {
  height: 100%;
  -webkit-transform: translateY(20%);
          transform: translateY(20%);
  color: #fff;
}

#v2l .v2l_container .v2l_content_main .v2l_content_text_box .v2l_content_text h3 {
  font-weight: bolder;
}

#v2l .v2l_container .v2l_content_main .v2l_content_text_box .v2l_content_text h5 {
  font-weight: bold;
  color: #ddd;
  margin-top: 1.25em;
}

#v2l .v2l_container .v2l_content_main .v2l_content_text_box .v2l_content_text p {
  color: #ccc;
  width: 28vw;
  margin-top: 1em;
}

#vr .vr_container {
  height: 220vh;
}

#vr .vr_container .vr_contents_main {
  width: 100vw;
  height: 100vh;
  background: #eee;
}

#vr .vr_container .vr_contents_main p {
  font-size: 5rem;
  font-weight: bold;
  color: #000;
  padding: 1.5em 0;
  text-align: center;
}

#vr .vr_container .vr_contents_main .vr_model {
  text-align: center;
  margin: 0 auto;
}
/*# sourceMappingURL=style.css.map */